<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<body>

<ng-container *ngFor="let user of friends; let i = index">
   <p *ngIf="user.friend">
  <b>Amigos</b><br>
  {{i}} {{user.nick}} - {{user.uid}} - {{user.email}}
   </p>
</ng-container>

<ng-container *ngFor="let user of friends; let i = index">
    <p *ngIf="!user.friend">
   <b>no Amigos</b><br>
   {{i}} {{user.nick}} - {{user.uid}} - {{user.email}}
    </p>
 </ng-container>

</body>